<div id="content" style="max-width: 80%; margin: auto;">
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Recollections.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_RecollectionsGrey.jpg'"
            onmouseout="this.src='assets/_Recollections.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Reflections.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_ReflectionsGrey.jpg'"
            onmouseout="this.src='assets/_Reflections.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Skull.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_SkullGrey.jpg'"
            onmouseout="this.src='assets/_Skull.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Bowling.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_BowlingGrey.jpg'"
            onmouseout="this.src='assets/_Bowling.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Master.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_MasterGrey.jpg'"
            onmouseout="this.src='assets/_Master.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Veiled.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_VeiledGrey.jpg'"
            onmouseout="this.src='assets/_Veiled.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Fragments.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_FragmentsGrey.jpg'"
            onmouseout="this.src='assets/_Fragments.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_SelfPort.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_SelfPortGrey.jpg'"
            onmouseout="this.src='assets/_SelfPort.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Exposure.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_ExposureGrey.jpg'"
            onmouseout="this.src='assets/_Exposure.jpg'"/>
    </div>
</div>
