<div id="content" style="max-width: 80%; margin: auto;">
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Kitchen.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_KitchenGrey.jpg'"
            onmouseout="this.src='assets/_Kitchen.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Stairs.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_StairsGrey.jpg'"
            onmouseout="this.src='assets/_Stairs.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Tram.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_TramGrey.jpg'"
            onmouseout="this.src='assets/_Tram.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Wax.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_WaxGrey.jpg'"
            onmouseout="this.src='assets/_Wax.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Mantis.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_MantisGrey.jpg'"
            onmouseout="this.src='assets/_Mantis.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Sherlock.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_SherlockGrey.jpg'"
            onmouseout="this.src='assets/_Sherlock.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Tanks.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_TanksGrey.jpg'"
            onmouseout="this.src='assets/_Tanks.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Scroll.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_ScrollGrey.jpg'"
            onmouseout="this.src='assets/_Scroll.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Camel.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_CamelGrey.jpg'"
            onmouseout="this.src='assets/_Camel.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Pagoda.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_PagodaGrey.jpg'"
            onmouseout="this.src='assets/_Pagoda.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Library.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_LibraryGrey.jpg'"
            onmouseout="this.src='assets/_Library.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Happy.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_HappyGrey.jpg'"
            onmouseout="this.src='assets/_Happy.jpg'"/>
    </div>

</div>
