<div id="content">
    <div class="center" style="width: 80%;">
        <div class="banner">
            <img
                style="width: 100%"
                src="assets/_DemoGrey.jpg"
                onclick="navigateToVideo('demo-reel', 'views/demo-reel.html')"
                onmouseover="this.src='assets/_Demo.jpg'"
                onmouseout="this.src='assets/_DemoGrey.jpg'"/>
        </div>
        <div class="banner">
            <img
                style="width: 100%"
                src="assets/_3DGrey.jpg"
                onclick="navigateToVideo('demo-reel', 'views/3D.html')"
                onmouseover="this.src='assets/_3D.jpg'"
                onmouseout="this.src='assets/_3DGrey.jpg'"/>
        </div>
        <div class="banner">
            <img
                style="width: 100%"
                src="assets/_2DGrey.jpg"
                onclick="navigateToVideo('demo-reel', 'views/2D.html')"
                onmouseover="this.src='assets/_2D.jpg'"
                onmouseout="this.src='assets/_2DGrey.jpg'"/>
        </div>
        <div class="banner">
            <img
                style="width: 100%"
                src="assets/_VideoGrey.jpg"
                onclick="navigateToVideo('demo-reel', 'views/video.html')"
                onmouseover="this.src='assets/_Video.jpg'"
                onmouseout="this.src='assets/_VideoGrey.jpg'"/>
        </div>
    </div>
</div>
