<div id="content" style="max-width: 80%; margin: auto;">
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Mime.jpg"
            onclick="navigateToVideo('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_MimeGrey.jpg'"
            onmouseout="this.src='assets/_Mime.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Fava.jpg"
            onclick="navigateToVideo('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_FavaGrey.jpg'"
            onmouseout="this.src='assets/_Fava.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Noir.jpg"
            onclick="navigateToVideo('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_NoirGrey.jpg'"
            onmouseout="this.src='assets/_Noir.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_BigEvent.jpg"
            onclick="navigateToVideo('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_BigEventGrey.jpg'"
            onmouseout="this.src='assets/_BigEvent.jpg'"/>
    </div>
    <div class="flex card">
        <img
            style="width: 100%"
            src="assets/_Marathon.jpg"
            onclick="navigateToVideo('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_MarathonGrey.jpg'"
            onmouseout="this.src='assets/_Marathon.jpg'"/>
    </div>
</div>
