<div id="content">
    <div class="flex card">
        <img
            class="image"
            style="width: 100%;"
            src="assets/_Mime.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_MimeGrey.jpg'"
            onmouseout="this.src='assets/_Mime.jpg'"/>
    </div>
    <div class="flex card">
        <img
            class="image"
            style="width: 100%;"
            src="assets/_Fava.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_FavaGrey.jpg'"
            onmouseout="this.src='assets/_Fava.jpg'"/>
    </div>
    <div class="flex card">
        <img
            class="image"
            style="width: 100%;"
            src="assets/_Noir.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_NoirGrey.jpg'"
            onmouseout="this.src='assets/_Noir.jpg'"/>
    </div>
    <div class="flex card">
        <img
            class="image"
            style="width: 100%;"
            src="assets/_BigEvent.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_BigEventGrey.jpg'"
            onmouseout="this.src='assets/_BigEvent.jpg'"/>
    </div>
    <div class="flex card">
        <img
            class="image"
            style="width: 100%;"
            src="assets/_Marathon.jpg"
            onclick="navigate('demo-reel', 'views/demo-reel.html')"
            onmouseover="this.src='assets/_MarathonGrey.jpg'"
            onmouseout="this.src='assets/_Marathon.jpg'"/>
    </div>
</div>
